* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter;
    background-color: #FCF5FF;
}

#header {
    width: 100wv;
    height: 80px;
    padding: 0 46px;
    background-color: #EEA7B9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#pageTitle {
    font-size: 40px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

#searchBar {
    width: 352px;
    height: 43px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
}

h2 {
    font-size: 40px;
    font-weight: 500;
}

#trendingContainer, #upcomingContainer {
    margin: 22px 46px;
}

.trendingAnimeList, .upcomingAnimeList, .anime-recommended-list, .anime-images-list  {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-top: 22px;
}

.trendingAnimeList .animePoster, .upcomingAnimeList .animePoster,
.anime-recommended-list .animePoster, .anime-images-list .animePoster {
    max-width: 230px;
    max-height: 300px;
    display: inline-block;
    background-color: #c1c1c1;
    border-radius: 10px;
    margin-right: 35px;
    position: relative;
    vertical-align: middle;
    overflow: hidden;
}

.trendingAnimeList .animePoster .animeImg, .upcomingAnimeList .animePoster .animeImg, 
.anime-recommended-list .animePoster .animeImg, .anime-images-list .animePoster .animeImg {
    max-height: 300px;
    max-width: 230px;
    cursor: pointer;
}

.trendingAnimeList .animePoster:last-child, .upcomingAnimeList .animePoster:last-child {
    margin-right: 0px;
}

#topAnimeContainer, #searchAnimeContainer {
    margin: 22px 46px;
}

.topAnimeList {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    margin-top: 22px;
}

.searchAnimeList {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, 180px);
    margin-top: 22px;
}

.topAnimeList  .animePosterSmall, .searchAnimeList  .animePosterSmall {
    max-width: 180px;
    max-height: 260px;
    /* background-color: #c1c1c1; */
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
}

.topAnimeList  .animePosterSmall .animeImg, .searchAnimeList  .animePosterSmall .animeImg {
    max-width: 180px;
    max-height: 260px;
    cursor: pointer;
}
.score {
    min-width: 40px;
    min-height: 22px;
    background-color: white;
    top: 9px;
    right: 9px;
    border-radius: 5px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 2px;
    cursor: pointer;
}

.inactive {
    display: none;
}


/*Anime Page*/
#animeDetailContainer {
    margin: 22px 46px;
}


#anime-images, #anime-recommended {
    margin: 22px 46px;
}

#anime-img {
    width: 400px;
    min-height: 600px;
    margin-right: 46px;
    display: inline-block;
    /*background-color: #c3c3c3;*/
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.animeImg {
    height: 100%;
    width: 100%;
}


#anime-info {
    display: inline-block;
    max-width: calc(100vw - 640px);
    vertical-align: top;
}

h4 {
    margin: 10px 0 20px;
    color: #6d6d6d;
    font-size: 20px;
    font-weight: 500;
}

p {
    font-size: 20px;
    text-align: justify;
    font-weight: 400;
    margin-bottom: 30px;
}

h3 {
    font-size: 25px;
    font-weight: 500;
    margin: 12px 20px 12px 0;
}

.anime-genres,  .anime-themes {
    display: flex;
    align-items: center;
}

.animeGenre, .animeTheme{
    display: inline-block;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 500;
    margin-right: 12px;
}